<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919057158553-j2u511fjssruq91orsjn6e7g7altauej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919057158553-j2u511fjssruq91orsjn6e7g7altauej</string>
	<key>API_KEY</key>
	<string>AIzaSyBxr-4knSWl8pcPiXO5KK76spoHJr0lU-c</string>
	<key>GCM_SENDER_ID</key>
	<string>919057158553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>rockethelp-7c2f6</string>
	<key>STORAGE_BUCKET</key>
	<string>rockethelp-7c2f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919057158553:ios:348490109d2a165be3c308</string>
</dict>
</plist>